<app-navbar>
    <div class="row justify-content-center m-3">
        <div class="col-12 col-md-6 text-center"> 
            <img src="{{film.image}}" alt="Imagen" class="img-fluid">
            <h3 class="mt-3">{{film.title}}</h3>
            <div >
                <p><span class="fw-bold">Original Title:</span> {{film.original_title}}</p>
                <p><span class="fw-bold">Release date</span> {{film.release_date}}</p>
                <p><span class="fw-bold">Description</span>  {{film.overview}}</p>
            </div>
            
        </div>
    </div>  
</app-navbar>