<app-navbar>
    <div class="row justify-content-center">
        <div class="m-4 ">
            <h1 class="text-center fw-bold">Prueba Técnica Frontend</h1>
            <h3 class="text-center mt-2">Adrián Gallego</h3>
        </div>

        <div class="col-8">
            <p class="mx-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas ducimus esse harum et officia saepe, quae modi quod quis perferendis? Et vel veniam quo? Quidem tenetur voluptatum eum nesciunt iste.
                Maxime soluta, esse molestias inventore modi quos odit voluptatum, voluptates, totam eum laudantium repellendus alias dignissimos ipsam quae laborum nihil atque blanditiis repudiandae! Voluptatum excepturi nulla unde aliquam, obcaecati dolorum?
                Eius possimus magni voluptas veniam illum ducimus ullam modi ipsa voluptates? Aliquid dolor exercitationem inventore omnis reprehenderit, pariatur officia est magni repellat quis ullam qui voluptate magnam veniam perspiciatis non.</p>
            
        </div>
    </div>
</app-navbar>
